* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1B1474;
}

header {
  padding: 0 15px 0 15px;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 90px;
  border-bottom: 1px solid #fff;
}

.logo-paris {
  width: 170px;
}

.adm-btn {
  text-decoration: none;
  text-align: center;
  color: #231c78;
  background-color: rgb(187, 182, 175);
  height: 35px;
  width: 300px;
  border-style: outset;
  font: bold 24px arial, 'Roboto Slab', serif;
}

.adm-btn:hover {
  color: aquamarine;
  background-color: blueviolet;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: auto;
  padding: 35px;
  height: 800px;
}

.container-img {
  width: 80%;
}


.img {
  width: 80%;
}

.container-content {
  display: grid;
}

.bora-btn {
  text-decoration: none;
  color: #231c78;
  background-color: rgb(187, 182, 175);
  border-style: outset;
  font: bold 24px arial, 'Roboto Slab', serif;
  text-align: center;
  width: 150px;
  margin: 35px auto;
}

.bora-btn:hover {
  color: aquamarine;
  background-color: blueviolet;
}

.text {
  color: aliceblue;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}


.entrar:hover {
  color: aquamarine;
  background-color: blueviolet;
}

.footer {
  max-width: 1170px;
  height: 30px;
  color: white;
  text-align: center;
  margin: auto;
  border-top: 1px solid #fff;
  padding: 15px
}