body {
  background-color: #1b1474;
  align-items: center;
}
h1 {
  color: aliceblue;
  margin-left: 13rem;
  font-family: 'Roboto Slab', serif;
}
.lista {
  color: #231c78;
  margin-left: 5rem;
  font-family: 'Roboto Slab', serif;
}
.lista,
p {
  color: aliceblue;
  margin-left: 13rem;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}
.img {
  max-width: 200%;
  max-height: 200%;
}
.cat {
  height: 300px;
  width: 300px;
  justify-content: center;
  margin-left: 15rem;
}
.button {
  align-items: center;
  margin-top: 200px;
  margin-left: 800px;
  text-decoration: none;
  color: #231c78;
  background-color: rgb(187, 182, 175);
  border-style: outset;
  font: bold 24px arial, 'Roboto Slab', serif;
  text-align: center;
  width: 180px;
  height: 35px;
  margin: 35px auto;
  border-radius: 10px 20px;
}
.footer {
  margin-left: 90px;
}
